$font-stack:    Helvetica, sans-serif;
$primary-color: #ddd;
$secondary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $secondary-color;
  margin: 100px;

  h1 {
  	text-align: center;
  }
}